acme==1.21.0
asgiref==3.7.2
attrs==21.2.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.4
certbot==1.21.0
certbot-nginx==1.21.0
chardet==4.0.0
Django==5.0.2
django-cors-headers==4.3.1
django-extensions==3.2.3
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
gunicorn==21.2.0
httplib2==0.20.2
importlib-metadata==4.6.4
incremental==21.3.0
jeepney==0.7.1
Jinja2==3.0.3
josepy==1.10.0
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
keyring==23.5.0
launchpadlib==1.10.16
MarkupSafe==2.1.5
more-itertools==8.10.0
netifaces==0.11.0
oauthlib==3.2.0
packaging==23.2
parsedatetime==2.6
pillow==10.2.0
PyJWT==2.3.0
pyOpenSSL==21.0.0
requests==2.25.1
requests-toolbelt==0.9.1
sqlparse==0.4.4
mysqlclient==2.2.4
